body {
  background: #0b0b0b;
  color: #eaeaea;
  font-family: monospace;
  padding: 20px;
}

#game {
  max-width: 600px;
  margin: auto;
}

button {
  display: block;
  width: 100%;
  margin-top: 10px;
  background: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
  padding: 12px;
  cursor: pointer;
}

button:hover {
  background: #333;
}
